<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kiralanan Marka</th>
            <th>Kiralanan Adi</th>
            <th>Müsterinin ismi</th>
            <th>Müsterinin soyismi</th>
            <th>Kiralama tarihi</th>
            <th>Iade tarihi</th>
        </tr>
    </thead>
    <tr *ngFor = "let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.carName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</table>