<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Admin Yönetim
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" routerLink="/admin/brand/manager">Markaları Yönet</a></li>
      <li><a class="dropdown-item" routerLink="/admin/color/manager">Renkleri Yönet</a></li>
      <li><a class="dropdown-item" routerLink="/admin/car/manager">Araçları Yönet</a></li>
    </ul>
  </li>