<div class="row">
    <div class="col col-5 px-1">
      <select #fastBrand [(ngModel)]="brandIdFilter"  class="form-select" aria-label="Default select example">
        <option *ngFor="let brand of brands" [value]="brand.id"
        selected="{{selectedBrand(brand.id)}}">{{brand.name}}</option>
        
      </select>
      <label for="fastBrand">Filtrelenecek Marka</label>
    </div>
    <div #fastColor class="col col-5">
      <select  [(ngModel)]="colorIdFilter" class="form-select" aria-label="Default select example" >
        <option *ngFor="let color of colors" [value]="color.id"
        selected="{{selectedColor(color.id)}}">{{color.name}}</option>
        
      </select>
      <label for="fastColor">Filtrelenecek Renk</label>
    </div>
    <div class="col col-1 px-2">
      <button
      routerLink="/cars/filter/{{brandIdFilter}}/c/{{colorIdFilter}}" 
      (click)="getCarsByBrandIdAndColorId(colorIdFilter,brandIdFilter)"
        class="btn btn-warning">Filtrele</button>
      </div>
      <div class="col col-1 px-2">
          <a 
          routerLink="/cars" class="btn btn-danger">Temizle</a>
      </div>
  </div>

  <div *ngIf="lengthCar==0"><br><br>
  <div  class="alert alert-warning alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      <h5>Seçili kriterlerde araba bulunmamaktadı.Lütfen filtre temizle diyerek anasayfaya gidebilir veya  yeni filtreleme yapabilirsiniz</h5>
    </div>
  </div>
</div>

  <tbody>
    <div class="album py-3 px-0" style="width: 68rem;">
        <div class="row">
            <div class="card mx-3 p-3 mb-4 box-shadow" *ngFor="let car of carsFilter" (click) ="setCurrentCar(car)" routerLink = "/cardetails/car/{{car.carId}}" style="width: 18rem;">
                <img src="https://localhost:44337/Uploads/Images/{{car.carImage[0].imagePath}}" class="card-img-top" alt="..." width="500"
                height="130">
                <div class="card-body">
                    <h5 class="card-title">{{ car.carName }}</h5>
                </div>
                  <!-- <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <ul>
                <li class="list-group-item">Marka: {{car.brandName}}</li>
                <li class="list-group-item">Renk: {{car.colorName}}</li>
                <li class="list-group-item">Günlük Fiyat: {{car.dailyPrice | currency:"₺"}} </li>
                
                </ul>
                <div class="d-flex justify-content-end align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-info" [class]="getCurrentCarClass(car)">Detay</button>
                </div>
                <br>
                </div>
              </div>
        </div>
    </div>
</tbody>